<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.banki.ahgora" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_overtime"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.banki.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.banki.main.settings.SettingsActivity"
            android:label="@string/action_settings" >
        </activity>

        <service
            android:name="com.banki.main.contador.ContadorService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
